{{>header}}
<div class="row justify-content-center padding-top-24">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h5 class="card-title">{{curso.nombre}}</h5>
                    </div>
                    <div class="ml-auto">
                        <h5>{{curso.estado}}</h5>
                    </div>
                </div>
                <h6 class="card-subtitle mb-2 text-muted">${{curso.valor}}</h6>
                <p class="card-text">{{curso.descripcion}}</p>
                <h6 class="card-subtitle mb-2 text-muted">{{curso.modalidad}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{curso.intensidadHoraria}}</h6>
                <form action="/cambiarInscripcion" method="get">
                    <input type="hidden" name="documento" value="{{documento}}" />
                    <input type="hidden" name="idCurso" value="{{curso.idCurso}}" />
                    <input type="hidden" name="estaInscrito" value="{{estaInscrito}}" />
                    {{#puedeInscribir estaInscrito rol true curso.estado}}
                    <button class="btn btn-danger" type="submit">Eliminar</button>
                    {{/puedeInscribir}}
                    {{#puedeInscribir estaInscrito rol false curso.estado}}
                    <button class="btn btn-primary" type="submit">Inscribir</button>
                    {{/puedeInscribir}}
                </form>
                {{!-- {{#esCoordinador rol}} --}}
                {{{listarDocentes listaDocentes curso.idCurso rol}}}
                {{!-- {{/esCoordinador}} --}}
            </div>
        </div>
    </div>
</div>
{{#if eliminado}}
<div class="row justify-content-center padding-top-24">
    <div class="alert alert-success row align-center col-6">Estudiante eliminado con exito</div>
</div>
{{/if}}
{{#if inscrito}}
<div class="row justify-content-center padding-top-24">
    <div class="alert alert-success row align-center col-6">Estudiante inscrito con exito</div>
</div>
{{/if}}
<div class="row justify-content-center">
    <div class="row align-center padding-top-24 col-6">
        {{{listarEstudiantes listaEstudiantes rol curso.idCurso}}}
    </div>
</div>
{{>footer}}